/.metadata/
Code/.metadata/version.ini
Code/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
Code/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
Code/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
Code/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
Code/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
Code/.metadata/.log
Code/SimpleStudy.Schicht1.Plugins/.classpath
